[Unit]
Description=SwitchLED
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/SwitchLED/SwitchLED.py
WorkingDirectory=/home/pi/SwitchLED
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=20
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target